{% extends 'base.html.twig' %}

{% block title %}
    Hello UploadImageController!
{% endblock %}

{% block javascripts %}
    <script defer src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block body %}
    <img src="{{ asset('images/toto.png') }}" alt="La tête à Toto" id="image_displayed">

    {{ form(form) }}
{% endblock %}
